*.pyc
*.swp
*.o
crop/example/bof
crop/example/x86_gadget
crop/example/mips_gadget
crop/example/ppc_gadget
crop/example/arm_gadget
crop/test
crop/ropme
pyrop/example/bkp/
pyrop/example/bof_execve
pyrop/example/bof_many_args
pyrop/example/bof_many_args_x86
pyrop/example/bof_system2
pyrop/example/
